@layer base {
  :root {
    --current-theme: #86b1f9;
    --content-height: calc(100vh - 2.5rem); // 2.5rem = #root py
  }

  body {
    font-family: "Nunito";
    @apply bg min-w-[282px];
    @apply text-black dark:text-white text-sm;

    * {
      // Firefox
      scrollbar-width: none;
      // Google Chrome
      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  :disabled {
    @apply cursor-not-allowed;
  }

  #root {
    @apply min-h-screen max-w-[1440px] mx-auto p-5;
    @apply tablet:grid tablet:grid-cols-[1fr_9fr] desktop:grid-cols-[1fr_8fr] gap-5;
  }

  .max-h-content {
    // TODO: rename all max-h-content by h-content
    height: var(--content-height);
  }

  main {
    @apply flex flex-col gap-5;
    @apply tablet:grid tablet:grid-cols-2;
    @apply desktop:grid-cols-3 desktop:max-h-content;
  }

  h2 {
    @apply txt-title;
  }
}
